.banner-div {
    margin-top: 0;
}

.hecarion-banner {
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.planning-margins {
    margin: 60px 0;
}

.interview-results {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.interview-results>div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.interview-results>div>div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.affinity-diag {
    margin-top: 32px;
}

.semibold-bigger {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin-top: 32px;
}

.two-by-two {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px 32px;
}

.three-flex {
    margin: 8px -98px 0;
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 0;
    gap: 32px 32px;
}

.two-by-two>* {
    flex: 0 0 calc(50% - 16px);
}

.two-pane {
    display: flex;
    gap: 32px;
}

.two-pane-col {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.user-pane {
    margin-top: 4px;
}

.no-wrap {
    white-space: nowrap;
}

.person-bio {
    margin-top: 8px;
}

.carousel-wrapper {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel-next-icon {
    background-image: url("/assets/hecarion/nxt.svg") !important;
}

.carousel-prev-icon {
    background-image: url("../assets/hecarion/prev.svg") !important;

}

.carousel-wrapper span {
    height: 40px !important;
    width: 40px !important;
}


.carousel-indicators li {
    background-color: #d4474733 !important;
    height: 6px !important;
}

.carousel-indicators .active {
    background-color: #d44747 !important;
}

.ideation-body {
    display: flex;
    flex-direction: column;
    gap: 28px;
}