<div class="nav">
    <div class="navtabs-div">
        <div>
            <img src="../assets/logo.svg">
        </div>
        <div class="navtabs">
            <a href="./work.html" class="inactive-link" id="work">Work</a>
            <a href="./" class="inactive-link" id="about">About</a>
            <a href="./under_construction.html" class="inactive-link" id="art">Art</a>
            <a href="./assets/resume.pdf" target="_blank" class="inactive-link">Resume</a>
        </div>
    </div>
</div>